<div class="container mx-auto h-full">
  <div class="container mx-auto pt-2">
    <header
      class="text-center font-bold text-xl bg-blue-700 text-white p-2 rounded-md"
    >
      <h1>DESPRE NOI</h1>
    </header>
    <section class="bg-white p-4 rounded-md shadow-lg">
      <p class="mb-4 pl-2">
        <strong>SC METALBAC INTERNATIONAL SRL</strong> este infiintata in 2007,
        si are ca obiect de activitate importul si comercializarea produselor si
        accesoriilor pentru marcaje rutiere si pentru vopsitorii. Distribuim
        produse de la producatori de prestigiu, astfel:
      </p>
      <p class="mb-4 pl-2">
        <strong style="color: red">EXITFLEX Elvetia</strong>, unul din marii
        producatori de duze destinate executiei de marcaje rutiere;
        <strong style="color: red">HANDOK KOREA</strong>, producator de pistoale
        si pompe pentru vopsitorii;
        <strong style="color: red">NOVO INNOVATION AUSTRALIA</strong>,
        producator de sisteme de spatiere pentru masini de marcaj rutier.
      </p>
      <p class="mb-4 pl-2">
        <strong style="color: rgb(90, 90, 255)"
          >Duzele produse de EXITFLEX SA Elvetia</strong
        >, se remarca prin calitatea materialului folosit, WOLFRAM, acesta
        permite executia unor linii de calitate cu margini uniforme si un film
        al marcajului cu aceeasi grosime, indifferent de lungimea segmentului
        executat. Duzele sunt reversibile si “flat”, producatorul oferind nu mai
        putin de 189 de modele.
      </p>
      <p class="mb-4 pl-2">
        <strong style="color: rgb(90, 90, 255)"
          >Producatorul coreean HANDOK</strong
        >, este unul dintre cei mai mari producatori de pompe si pistoale
        destinate pentru toate tipurile de vopsitorii.
      </p>
      <p class="mb-4 pl-2">
        Pistoalele produse de acesta pot fi folosite atat pentru vopsea mono
        componenta cat si pentru vopsele bi comoponent, din aceasta categorie
        facand parte si pistoalele pentru executia marcajelor rutiere,
        producatorul oferind atat pistoale manuale cat si automate.
      </p>
      <p class="mb-4 pl-2">
        Handok si-a extins gama de produse oferind si pistoale automate pentru
        aplicare perle relfectorizante.
      </p>
      <p class="mb-4 pl-2">
        Pompele produse de Handok Korea, sunt recunoscute prin fiabilitate si
        calitatea materialelor folosite, si sunt furnizate atat tipuri “airless”
        cat si echipate cu motoare electrice.
      </p>
      <p class="mb-4 pl-2">
        Totodata producatorul ofera si o gama variata de accesorii pentru pompe
        si pistoale.
      </p>
      <p class="mb-4 pl-2">
        <strong style="color: rgb(90, 90, 255)"
          >Producatorul Australian NOVO INNOVATION</strong
        >, vine cu o oferta de sisteme de spatiere pentru masini de marcaj
        rutier, capabilie sa controleze de 2 pana la 10 pistoale de marcaj si
        aplicare perle reflectorizante.
      </p>
      <p class="mb-4 pl-2">
        Totoodata <strong>NOVO INNOVATION</strong> ofera sisteme care pot fi
        montate atat pe freze de asphalt cat sip e alte tipuri de utilaje
        terasiere.
      </p>
    </section>
  </div>
  <!-- <img [src]="'assets/img/prezentare firma-1.png'" alt="Photo" /> -->
</div>
