<div style="background-color: rgb(17, 24, 39)" class="sticky">
  <div class="xl:flex w-full sm:flex sm:flex-row">
    <div
      class="w-full lg:flex-1 text-gray-500 text-center lg:ml-28 px-4 py-2 m-2"
    >
      <p class="font-bold">SC METALBAC INTERNATIONAL SRL</p>
      <p>Sediu social, Str. Medgidiei Bl.H4, Ap.41, Cernavoda</p>
      <p>IBAN: RO21BTRL01401202F95498XX</p>
    </div>
    <div class="w-full lg:flex-1 text-gray-500 text-center py-2 m-2">
      <p class="font-bold">CIF: RO22250504</p>
      <p class="font-bold">Tel. +40.731.00.4214</p>
      <p class="font-bold">Fax. +40.341.780.125</p>
    </div>
    <div
      class="w-full lg:flex-1 text-gray-500 text-center lg:mr-28 px-4 py-2 m-2"
    >
      <p class="font-bold">Nr. ord. reg. com: j13/2684/2007</p>

      <p class="font-bold">E-mail: office@handokromania.ro</p>
    </div>
  </div>
</div>
